@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@2.0/nanumsquare.css);

body{ font-family: 'NanumSquareAc', sans-serif; font-size:15px; font-weight:500;} 

.navbar-brand{font-weight:700;}
h2{font-weight:900; font-size:1.5rem;}
h5{font-weight:700; font-size:1.25rem;}
.text-muted{color:#808080; font-size:0.875rem;}
.btn{font-size:0.875rem;}